<!DOCTYPE html>
<html>
<head>
        <title>Tacos</title>
<head>

<body>
        <h1>You have requested <%= num %> tacos</h1>

<%
for (var i = 0; i < 10; i++) {
%>

<p>test</p>

<%
}
%>

</body>
</html>
